// personnalistaion des variables Bootstrap
$primary: #78d62b;
$secondary: #D9AE5F;

// import de la librairie Bootstrap. Le ~ reference le dossier node_modules
@import "~bootstrap/scss/bootstrap";
@import "~select2/dist/css/select2.css";